* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, Arial;
}

body {
  height: 100vh;
  background: linear-gradient(135deg, #141e30, #243b55);
  display: flex;
  justify-content: center;
  align-items: center;
}

.glass {
  width: 420px;
  padding: 25px;
  border-radius: 20px;
  background: rgba(255,255,255,0.15);
  backdrop-filter: blur(15px);
  color: white;
  text-align: center;
  box-shadow: 0 20px 40px rgba(0,0,0,0.3);
}

video {
  width: 100%;
  margin: 15px 0;
  border-radius: 15px;
  background: black;
}

button {
  padding: 12px 20px;
  border: none;
  border-radius: 10px;
  background: #00c6ff;
  color: black;
  font-size: 16px;
  cursor: pointer;
}

#timer {
  font-weight: bold;
  margin: 8px 0;
}

#feedback {
  margin-top: 10px;
  font-style: italic;
  color: #ffeb3b;
}